.app_body {
  outline: none; // both of these remove dotted lines on clicked elements
  outline: 0;
}



// the navbar header
.navbar {
  position: relative; // or else the rest of the page hides under the navigation bar
  color: black;
  margin-bottom: 0;

  .container {
    float: left;
  }

  .navbar-brand {
    padding: 0 0 0 0;
  }

  .site_logo {
    float: left;
    height: 50px;
  }

  .site_logo_text {
    padding-top: 15px;
    width: 20%;
    float: left;
  }

  // these are the menu items
  .nav li a{

    // remove these two soon and make them general
    outline: none; // both of these remove dotted lines on clicked elements
    outline: 0;
  }
}
